.blocks-container {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.block-container {
    width: 330px;
    padding: 10px;
    background: #DEE2E6;
}

.sep {
    width: 100%;
    color: black;
    font-size: 2rem;
    opacity: 0.5;
}